@import "shared.css";
.rtf__upload_button_blue {
    background-color: #387F93;
    text-decoration: none;
    color: white;

}
.rtf__upload_button_green {
    background-color: #0C7F40;
    text-decoration: none;
    color: white;

}
.rtf__upload_box {
    /*border-width: 10px;*/
    background-color: #D8D8D8;
    width: 600px;
    height: 450px;
    font-family: 'Helvetica';
    font-weight: bold;
    text-align: left;
    color: #4A4A4A;
    text-decoration: none;
}
.rtf__upload_header_text{
/*    padding-top: 15%;*/
    font-size: 23px;
    text-align:center;
}
.fileUpload {
    position: absolute;
    overflow: hidden;
    margin: 10px;
}
.rtf__file_spacing {
    margin-right:10px;
}