<title>Reset Password | Rivanna Trails Foundation</title>

<p>Please specify the e-mail address associated with your account, and you will receive instructions for resetting your password.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
</form>
