{% load staticfiles %}
{% if parcels %}
	<h2>{{ parcels | length }} parcels were found!</h2>
	<ul>
		{% for parcel in parcels %}
			<li>
				Parcel {{forloop.counter}} - <br/>
				<ul>
				
					<li>Parcel ID: {{parcel.id}}</li>
					<li>Owner: {{parcel.owner}}</li>
					<li>Points: {{parcel.points}}</li>
					
				</ul>
			</li>
		{% endfor %}
	</ul>
{% else %}
<link rel="stylesheet" type="text/css" href="{% static 'rtfapp/upload.css' %}" />

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parcel Data</title>
</head>
<body>
	<div class="rtf__upload_box">
	<p class = "rtf__upload_header_text">
		Parcel Data
	</p>
	<form action="{% url 'rtfapp:uploadSHP' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="fileUpload rtf__button_flat rtf__upload_button_green">
		    <span>Choose Parcel Point Files</span>
		    <input type="file" class = "upload" name="pointFiles" id="pointFiles" accept=".zip" />
		</div>
		<br><br>
		<div class="fileUpload rtf__button_flat rtf__upload_button_green">
		    <span>Choose Parcel Area Files</span>
		    <input type="file" class = "upload" name="areaFiles" id="areaFiles" accept=".zip" />
		</div>		
		<br><br>
		<label>
			Parcel Type: 
			<select name="parcelType" id="parcelType">
				<option value="city">City</option>
				<option value="county">County</option>
			</select>
		</label>
		<br><br>
		<div class= "fileUpload rtf__button_flat rtf__upload_button_blue">
			<span>Upload</span>
			<input type = "submit" class = "upload" value="Upload"/>
		</div>
	</form>
</body>
{% endif %}